%% -*- mode:erlang -*-
{lib_dirs,            [".."]}.

%% Try to get warnings for everything, too bad there is not a warn_all directive
%% ...
{erl_opts,            [debug_info
                       , warn_export_all
                       , warn_shadow_vars
                       , warn_obsolete_guard
                       , warn_unused_import
                       , warnings_as_errors]}.

%% Add dependencies here, the format is (for example):
%% {proper, ".*",
%%   {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
{deps,                [
                      ]}.

{cover_enabled,       true}.
{cover_print_enabled, true}.

%% At the moment of writing this template, this option was only available in a
%% special patched rebar
{cover_min_coverage,  80}.

%% At the moment of writing this template, the deprecated check was only
%% available in a special patched version of rebar
{xref_checks,         [undefined_function_calls
                       , deprecated_function_calls]}.
